 <!-- forgot password -->
<body>
  <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1><span id="header" routerLink="/">AuthFire</span></h1>
        </div>

        <!-- login input  -->
        <div class="modal-body" style="margin-top: 8px;" >
          <form style="max-width:500px;margin:auto">
            <h2 class="text-center">Forgot Password</h2>
            
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email address...">
            </div>
            <button type="button" class="btn" (click)="forgotPassword()">Send Link</button>
          
            <br><br>
            <div class="text-footer text-center" >
              <a routerLink="/login"> Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>