
<app-navbar></app-navbar>

<section class="p-0 bg-img cover-background" style="background-image: url();">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h2 ><i>AuthFire</i></h2>
                    <h5 class="mb-4 text-white">
                        <button class="btn btn-primary" routerLink="/login">Login</button>
                        &nbsp;
                        <button class="btn btn-primary" routerLink="/home">Home</button>
                    </h5>
                   
                </div>
            </div>
        </div>
    </div>
</section>